<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">About Me</h2>
                <hr class="divider light my-4" />
                <p class="text-grey-50 mb-4" style="-webkit-text-fill-color: cornsilk">                    
                    Hi there! I’m Carli Manser, 25 years old. I grew up in a small town in the Free State, but am now living the big city life in Pretoria with my husband and two gorgeous dachshunds.
                    <br /><br />
                    I am passionate about writing and consider myself a full-blown linguaphile. I am in love with sharing people’s stories, helping to elevate brands and I believe in telling a story in... things simple, yet completely magnificent.
                    <br /><br />
                    I hope that this website will serve as an ever-evolving platform for me to share all things that I adore and to showcase my work. Here you can expect to see my take on slow living, good food, supporting local and wellbeing.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Let get to it!</a>
            </div>
        </div>
    </div>
</section>